<%= form_for @history, html: {class: "form"} do |f| %>
  <div class="form-group">
    <%= select_tag(:vax, options_from_collection_for_select(Vaccination.all, :id, :science_name, :type)) %>
  </div>
  <div class="form-group">
    <%= f.label :date_given %>
    <%= f.date_select(:date_given, order: [:day, :month, :year]) %>
  </div>
  <div class="form-group">
    <%= f.label :clinic_name %>
    <%= f.text_area :clinic_name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :expiry_date %>
    <%= f.date_select(:expiry_date, order: [:day, :month, :year]) %>
  </div>
  <%= f.submit "Create History", class: "btn btn-default btn-primary" %>
<% end %>
