<!DOCTYPE html>
<html>
<head>
  <title>MyVaccinationCard</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header role="banner">
    <img id="logo-main" src="/images/logo.png" width="160" alt="Logo Thing main logo">
  </header><!-- header role="banner" -->

    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <!-- <ul class="nav navbar-nav">
              <li>
                  <% if user_signed_in? %>
                    <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
                  <% else %>
                    <li><%= link_to "Sign in", new_user_session_path %></li>
                    <li><%= link_to "Sign up", new_user_registration_path %></li>
                  <% end %>
              </li>
          </ul> -->
          <%= yield %>
        </div>
      </div>
    </div>

</body>
</html>
